<section id="about">
    <div class="banner col-md-12 text-center">
        <h1 style="color: black" id="intro">Bienvenid@s!</h1>
</div>
    
    <div class="features banner" style="margin-top: 80px">
        <div class="row">
                          
                    <div class="col-lg-4 text-center">
        <div class="snippet" style="padding: 50px"><h4 style="color: #6700DE;">Cursos</h4>
        <img src="https://scontent.fbog1-1.fna.fbcdn.net/v/t1.0-9/29573266_1004178883080501_375284538243557981_n.jpg?_nc_cat=0&oh=88270f254b9e4e003c60aceaa9b20c72&oe=5B3C10F9" class="imgabout">
                <p style="margin-top: 8px">Inscríbete a nuestros cursos de<br>
                - Extensiones<br>
                - Lifting<br>
                - Ondulado de pestañas</p>
                
                <p style="color: purple; text-decoration: underline">Incluye kit</p>
            
<button type="button" class="btn btn-purple" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="<img class='img-responsive' src='../img/cursos/123.jpg'>" data-html="true" data-placement="bottom">Saber más...</button>
            
            
</div>
</div> 
             <div class="col-lg-4 text-center">
        <div class="snippet" style="padding: 50px"><h4 style="color: #6700DE;">Micropigmentación</h4>
        <img src="https://78.media.tumblr.com/91f6cb039456e69ee39fe641d7427ee9/tumblr_p67yot3loJ1rbtrrio1_250.jpg" class="imgabout">
                <p style="margin-top: 8px">La micropigmentación es una especialidad cuyo fin es el de embellecer o mejorar determinados rasgos.</p>
       
<button type="button" class="btn btn-purple" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="<img class='img-responsive' src='../img/cursos/publicidad.jpg'>" data-html="true" data-placement="bottom">Saber más...</button>

            </div>
        </div>
     
              <div class="col-lg-4 text-center">
        <div class="snippet" style="padding: 50px"><h4 style="color: #6700DE;">Conócenos</h4>
        <img src="https://scontent.fbog1-1.fna.fbcdn.net/v/t1.0-9/29498141_1004178886413834_6069668553680947364_n.jpg?_nc_cat=0&oh=19097cb04952345c77e3731b6b319695&oe=5B4666EB" class="imgabout">
            <p style="margin-top: 8px">Ven y renuévate con nuestro Spa! <br>Reserva tu cita: 3122742389<i class="fab fa-whatsapp"></i><br><br>Ademas contamos con una amplia línea de productos y cursos asesorados...</p>



            </div>

        </div>  
                        

            

    </div>

 
</div>
    
    <div class="video" style="margin-top: 14%">
        
        <div class="col-md-12 text-center">
            <h3>Conoce el proceso desde cerca</h3>
            <br>
            <br>
            <br>
            <br>

            <iframe src="https://player.vimeo.com/video/261938004" width="520" height="320" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      
                   
            

            
            
     
        
    </div>


</section>