<section id="about">
    <div class="features">
        <div class="row">
            
<div class="col-lg-4 text-center">
        <div class="snippet" style="padding: 50px"><h4 style="color: black;">Spa</h4>
        <img src="https://scontent.fbog1-1.fna.fbcdn.net/v/t1.0-9/29498141_1004178886413834_6069668553680947364_n.jpg?_nc_cat=0&oh=19097cb04952345c77e3731b6b319695&oe=5B4666EB" class="imgabout">
            <p style="margin-top: 8px">Ven y renuévate con nuestro spa! <br>Contamos con servicio de micropigmetación, maquillaje de cejas y venta de insumos!</p>
            <br>
            <button type="button" class="btn btn-purple" href="#map">Ubicación</button>



    </div>

        </div>       
        <div class="col-lg-4 text-center">
        <div class="snippet" style="padding: 50px"><h4 style="color: black;">Cursos</h4>
        <img src="https://scontent.fbog1-1.fna.fbcdn.net/v/t1.0-9/29573266_1004178883080501_375284538243557981_n.jpg?_nc_cat=0&oh=88270f254b9e4e003c60aceaa9b20c72&oe=5B3C10F9" class="imgabout">
                <p style="margin-top: 8px">Inscríbete a nuestros cursos de<br>
                Extensiones<br>
                Lifting<br>
                Ondulado de pestañas</p>
                
                <p style="color: purple; text-decoration: underline">Incluye kit</p>
            
<button type="button" class="btn btn-purple" data-toggle="modal" data-target="#exampleModal">Inscripción</button>
                        <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Curso de micropigmentación</h5>
          <br>
          
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
            
            
            </div>

        </div>       
        <div class="col-lg-4 text-center">
        <div class="snippet" style="padding: 50px"><h4 style="color: black;">Catálogo</h4>
        <img src="https://scontent.fbog1-1.fna.fbcdn.net/v/t1.0-9/29542866_1004178913080498_6006093418766365079_n.jpg?_nc_cat=0&oh=44fab5d383bd362bff96cc6a51b948fd&oe=5B271A0F" class="imgabout">
                <p style="margin-top: 8px">Conoce nuestros artículos y accesorios para depilación, micropigmentación y mucho más!</p>
            <br>
            <br>
<button type="button" class="btn btn-purple" href="#catalog">Saber más...</button>

            </div>
        </div>
    </div>

 
     </div>


</section>