<section id="catalog">

<div class="col-lg-12 text-center">
    <div class="container">
        

<br>
<br>
<br>

                   

        <div class="col-lg-12 text-center">
            <div id="products">

            <h3>CATALOGO</h3>
            <hr>
                <br>
  <input class="search" placeholder="Search" />
                <!--icon-->
                <br>
                <br>

  <div class="list" data-sort="name">
      
      <div class="row">
      <div class="col-lg-4 text-center">
        <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="<img class='img-responsive' src='https://78.media.tumblr.com/5b369471ed9d5db3ac126c713e0d52bd/tumblr_p64ahg0l2S1rbtrrio1_500.png'><br><h2>$90.000</h2>" data-html="true">Kit para lifting y ondulado de pestañas</button>
        </div>            
            <div class="col-lg-4 text-center">
        <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="<img class='img-responsive' src='https://78.media.tumblr.com/13d85899f5cd22f89bf11668e813262c/tumblr_p64ahg0l2S1rbtrrio2_400.png'><br><h2>$25.000</h2>" data-html="true">Pega para lifting u ondulado de pestañas</button>
        </div>            
            <div class="col-lg-4 text-center">
        <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="<img class='img-responsive' src='https://78.media.tumblr.com/2f36858c9b1ee719536598e8a306e6b3/tumblr_p64d00Vbtt1rbtrrio2_400.jpg'><br><h2>$180.000</h2>" data-html="true">Dermografo para micropigmentación</button>
        </div> 
      </div>
             
<div class="row">
                  <div class="col-lg-4 text-center">
        <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="<img class='img-responsive' src='https://78.media.tumblr.com/b4d693add7dcb5b6138b7340f9b61b30/tumblr_p64ahg0l2S1rbtrrio4_400.jpg'><br><h2>$25.000</h2>" data-html="true">Bigubies o rulos para ondulado de pestañas</button>
        </div>           
            <div class="col-lg-4 text-center">
        <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="<img class='img-responsive' src='https://78.media.tumblr.com/b4d693add7dcb5b6138b7340f9b61b30/tumblr_p64ahg0l2S1rbtrrio4_400.jpg'><br><h2>$20.000</h2>" data-html="true">Extension de pestañas pelo de castor</button>
        </div>             
    
    <div class="col-lg-4 text-center">
        <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title=" " data-content="<img class='img-responsive' src='https://78.media.tumblr.com/2f65c5b3347f33e4dff6569a8abdc6ec/tumblr_p64b6hZWsX1rbtrrio1_400.jpg'><br><h2>$18.000</h2>" data-html="true">Microbrush. Tarros de 50 Pcs</button>
        </div>    
      </div>
    <div class="row">

    <div class="col-lg-4 text-center">
        <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title=" " data-content="<img class='img-responsive' src='https://78.media.tumblr.com/92b4ec0578f53260702cb38352efcabe/tumblr_p64bavchfa1rbtrrio1_400.jpg'><br><h2>$40.000</h2>" data-html="true">Sellante para extension de pestañas</button>
        </div>      
    
    <div class="col-lg-4 text-center">
        <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title=" " data-content="<img class='img-responsive' src='https://78.media.tumblr.com/e02f67aec6010b74023fcf9f2f7695cb/tumblr_p64bavchfa1rbtrrio2_400.jpg'><br><h2>$18.000</h2>" data-html="true">Disolvente de pega para extension de pestañas</button>
        </div>     
    
    <div class="col-lg-4 text-center">
        <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title=" " data-content="<img class='img-responsive' src='https://78.media.tumblr.com/1bf7d068126cc578c1843483d76eee0c/tumblr_p64bspEcug1rbtrrio1_1280.jpg'><br><h2>$55.000</h2>" data-html="true">Pega profesional para extension de pestañas (seca en 3 seg)</button>
        </div>  
      </div>
    <div class="row">

    <div class="col-lg-4 text-center">
        <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title=" " data-content="<img class='img-responsive' src='https://78.media.tumblr.com/b8d10311215f7f0248039ec7a2e33f15/tumblr_p64bspEcug1rbtrrio2_400.jpg'><br><h2>$4.000</h2>" data-html="true">Agujas para demógrafo Charmant</button>
        </div>     
    
    <div class="col-lg-4 text-center">
        <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title=" " data-content="<img class='img-responsive' src='https://78.media.tumblr.com/a20e30f87ca827323239e7d6808e0b5d/tumblr_p64ahg0l2S1rbtrrio3_400.jpg'><br><h2>$380.000</h2>" data-html="true">Dermógrafo digital para micropigmentación Charmant 5</button>
        </div>      
    
    <div class="col-lg-4 text-center">
        <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title=" " data-content="<img class='img-responsive' src='https://78.media.tumblr.com/d6745fdf85a81301c2ae1929c69e2e77/tumblr_p64bspEcug1rbtrrio4_400.png'><br><h2>$20.000</h2>" data-html="true">Caja extensión de pestañas O.12 C</button>
        </div>    
      </div>
      <div class="row">

    
    <div class="col-lg-4 text-center">
        <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title=" " data-content="<img class='img-responsive' src='https://78.media.tumblr.com/a03a5eb0b6f8b5504e9c8d457b0c211c/tumblr_p64c3jTunz1rbtrrio1_400.jpg'><br><h2>$30.000</h2>" data-html="true">Extensión de pestañas 3d y 6d profesional</button>
        </div>     
    
    <div class="col-lg-4 text-center">
        <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title=" " data-content="<img class='img-responsive' src='https://78.media.tumblr.com/d1ebd8b012758732d90a6f65e1b83bf1/tumblr_p64c6tzIa01rbtrrio2_400.jpg'><br><h2>$40.000</h2>" data-html="true">Extensión de pestañas de visión mixtas (20 líneas)</button>
        </div>      
    
    <div class="col-lg-4 text-center">
        <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title=" " data-content="<img class='img-responsive' src='https://78.media.tumblr.com/0ae5d9384a53d964674d3b9456970f1f/tumblr_p64ca8AaRA1rbtrrio1_1280.jpg'><br><h2>$20.000</h2>" data-html="true">Vitamina A+ D Fougera (10 unidades)</button></div>
      </div>
      <div class="row">

        
        <div class="col-lg-4 text-center">
            <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title=" " data-content="<img class='img-responsive' src='https://78.media.tumblr.com/953f051201a8914cf1d756f12571fcc9/tumblr_p5nc4aFHqN1rbtrrio1_400.jpg'><br><h2>$4.000</h2>" data-html="true">Agujas Para Charmant </button> </div>         
      
      <div class="col-lg-4 text-center">
            <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title=" " data-content="<img class='img-responsive' src='https://78.media.tumblr.com/8c5a341d915e10d852c7dd9ef6a1ddb9/tumblr_p64cs7T1pd1rbtrrio3_400.jpg'><br><h2>$85.000</h2>" data-html="true">Pigmentos Biotouch para micropigmentación (3 unidades) </button> </div>         
      
      <div class="col-lg-4 text-center">
            <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title=" " data-content="<img class='img-responsive' src='https://78.media.tumblr.com/3debacfd68d4c13bb3eacc939b943f6e/tumblr_p64cuw03Fk1rbtrrio1_400.jpg'><br><h2>$55.000</h2>" data-html="true">Anestesias para micropigmentación (38% 50.000 C/u</button> </div>  
      </div>
      <div class="row">

      <div class="col-lg-4 text-center">
            <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title=" " data-content="<img class='img-responsive' src=''><br><h2>$4.000</h2>" data-html="true">Productos para extensión de pestañas</button> </div>      
      
      <div class="col-lg-4 text-center">
            <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title=" " data-content="<img class='img-responsive' src='https://78.media.tumblr.com/13996615e1efcc61ff359814ab30247d/tumblr_p64d00Vbtt1rbtrrio1_400.jpg'><br><h2>$15.000</h2>" data-html="true">Productos para extensión de pestañas</button> </div>       
      
      <div class="col-lg-4 text-center">
            <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title=" " data-content="<img class='img-responsive' src='https://urbanyel.tk/private/image/172218523105/tumblr_p64d4nYmLT1rbtrri'><br><h2>$350.000</h2>" data-html="true">Extensión de cabello natural 100% garantizado (1.90 metros de largo)</button> </div> 
          
            

                   

      </div>

  </div>


            
            
            
            
            

    </div>
                    

                
    

    </div>  
                

    </div>




        </div>
</section>