<section id="catalog">

<div class="col-lg-12 text-center">
    <div class="container">
        

<br>
<br>
<br>

                   

        <div class="col-lg-12 text-center">
            <div id="test-list">

                    <h3>Catálogo de insumos</h3>
                    <hr>
                <br>
  <input class="fuzzy-search" placeholder="Search" />
                <!--icon-->
                <br>
                <br>

  <div class="list">
      
      <div class="row">
      <div class="col-lg-4 text-center">
        <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="<img class='img-responsive' src='https://78.media.tumblr.com/5b369471ed9d5db3ac126c713e0d52bd/tumblr_p64ahg0l2S1rbtrrio1_500.png'><br><h2>$90.000</h2>" data-html="true">Kit para lifting y ondulado de pestañas</button>
        </div>            
            <div class="col-lg-4 text-center">
        <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="<img class='img-responsive' src='https://78.media.tumblr.com/13d85899f5cd22f89bf11668e813262c/tumblr_p64ahg0l2S1rbtrrio2_400.png'><br><h2>$25.000</h2>" data-html="true">Pega para lifting u ondulado de pestañas</button>
        </div>            
            <div class="col-lg-4 text-center">
        <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="<img class='img-responsive' src='https://78.media.tumblr.com/fc8b56ddd5eb1970c4aeb12fefd8ba32/tumblr_p67zys3aDY1rbtrrio3_400.png'><br><h2>$180.000</h2>" data-html="true">Dermografo para micropigmentación</button>
        </div> 
      </div>
             
<div class="row">
                  <div class="col-lg-4 text-center">
        <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="<img class='img-responsive' src='https://78.media.tumblr.com/31e0bf9f4cda51fa97ddd1ecac1b1be4/tumblr_p67zys3aDY1rbtrrio1_400.png'><br><h2>8 pares x $5.000</h2>" data-html="true">Bigubies o rulos para ondulado de pestañas</button>
        </div>           
            <div class="col-lg-4 text-center">
        <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="<img class='img-responsive' src='https://78.media.tumblr.com/7364eac92226deaeeef6c40d28e79576/tumblr_p67zys3aDY1rbtrrio2_400.jpg'><br><h2>$20.000</h2>" data-html="true">Extension de pestañas pelo de castor</button>
        </div>             
    
    <div class="col-lg-4 text-center">
        <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title=" " data-content="<img class='img-responsive' src='https://78.media.tumblr.com/2f65c5b3347f33e4dff6569a8abdc6ec/tumblr_p64b6hZWsX1rbtrrio1_400.jpg'><br><h2>$18.000</h2>" data-html="true">Microbrush. Tarros de 50 Pcs</button>
        </div>    
      </div>
    <div class="row">

    <div class="col-lg-4 text-center">
        <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title=" " data-content="<img class='img-responsive' src='https://78.media.tumblr.com/92b4ec0578f53260702cb38352efcabe/tumblr_p64bavchfa1rbtrrio1_400.jpg'><br><h2>$40.000</h2>" data-html="true">Sellante para extension de pestañas</button>
        </div>      
    
    <div class="col-lg-4 text-center">
        <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title=" " data-content="<img class='img-responsive' src='https://78.media.tumblr.com/e02f67aec6010b74023fcf9f2f7695cb/tumblr_p64bavchfa1rbtrrio2_400.jpg'><br><h2>$18.000</h2>" data-html="true">Disolvente de pega para extension de pestañas</button>
        </div>     
    
    <div class="col-lg-4 text-center">
        <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title=" " data-content="<img class='img-responsive' src='https://scontent.fbog1-1.fna.fbcdn.net/v/t1.0-9/29541809_1005215612976828_5828049483598479854_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeGFFZMatddpYyqwf15GyHKAqMP2HRQPeGGkrd6DrBFmKwp0nCXIQk5-ZPi5hHmaxbowLEGXcEIOaKhEOTpVexlXe18WZSDK2LtX2U0zdcDimg&oh=2a2169eb76a556c3307d6a1c748124e3&oe=5B711FD9'><br><h2>$55.000</h2>" data-html="true">Pega profesional para extension de pestañas (seca en 3 seg)</button>
        </div>  
      </div>
    <div class="row">

    <div class="col-lg-4 text-center">
        <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title=" " data-content="<img class='img-responsive' src='https://78.media.tumblr.com/b8d10311215f7f0248039ec7a2e33f15/tumblr_p64bspEcug1rbtrrio2_400.jpg'><br><h2>$4.000</h2>" data-html="true">Agujas para demógrafo Charmant</button>
        </div>     
    
    <div class="col-lg-4 text-center">
        <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title=" " data-content="<img class='img-responsive' src='https://78.media.tumblr.com/a20e30f87ca827323239e7d6808e0b5d/tumblr_p64ahg0l2S1rbtrrio3_400.jpg'><br><h2>$380.000</h2>" data-html="true">Dermógrafo digital para micropigmentación Charmant 5</button>
        </div>      
    
    <div class="col-lg-4 text-center">
        <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title=" " data-content="<img class='img-responsive' src='https://78.media.tumblr.com/d6745fdf85a81301c2ae1929c69e2e77/tumblr_p64bspEcug1rbtrrio4_400.png'><br><h2>$20.000</h2>" data-html="true">Caja extensión de pestañas O.12 C</button>
        </div>    
      </div>
      <div class="row">

    
    <div class="col-lg-4 text-center">
        <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title=" " data-content="<img class='img-responsive' src='https://78.media.tumblr.com/a03a5eb0b6f8b5504e9c8d457b0c211c/tumblr_p64c3jTunz1rbtrrio1_400.jpg'><br><h2>$30.000</h2>" data-html="true">Extensión de pestañas 3d y 6d profesional</button>
        </div>     
    
    <div class="col-lg-4 text-center">
        <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title=" " data-content="<img class='img-responsive' src='https://78.media.tumblr.com/d1ebd8b012758732d90a6f65e1b83bf1/tumblr_p64c6tzIa01rbtrrio2_400.jpg'><br><h2>$40.000</h2>" data-html="true">Extensión de pestañas de visión mixtas (20 líneas)</button>
        </div>      
    
    <div class="col-lg-4 text-center">
        <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title=" " data-content="<img class='img-responsive' src='https://scontent.fbog1-1.fna.fbcdn.net/v/t1.0-9/29572845_1005215622976827_6239184254084064612_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeHK0Cy5G9Yeho2oj9Q_zmECpMbM1BaM9GrPnW5LrwKWQJTInO_KPGO2b1hFrxHEO0fMb0Rwb00eLqM3zrpN4djGa7jez4yjA_RcrTne90q4rA&oh=cae87d57e23ae5f21b61f10308a690fa&oe=5B74736B'><br><h2>$20.000</h2>" data-html="true">Vitamina A+ D Fougera (10 unidades)</button></div>
      </div>
      <div class="row">

        
        <div class="col-lg-4 text-center">
            <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title=" " data-content="<img class='img-responsive' src='https://78.media.tumblr.com/b8d10311215f7f0248039ec7a2e33f15/tumblr_p64bspEcug1rbtrrio2_400.jpg'><br><h2>$4.000</h2>" data-html="true">Agujas Para Charmant </button> </div>         
      
      <div class="col-lg-4 text-center">
            <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title=" " data-content="<img class='img-responsive' src='https://78.media.tumblr.com/8c5a341d915e10d852c7dd9ef6a1ddb9/tumblr_p64cs7T1pd1rbtrrio3_400.jpg'><br><h2>$85.000</h2>" data-html="true">Pigmentos Biotouch para micropigmentación (3 unidades) </button> </div>         
      
      <div class="col-lg-4 text-center">
            <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title=" " data-content="<img class='img-responsive' src='https://78.media.tumblr.com/3debacfd68d4c13bb3eacc939b943f6e/tumblr_p64cuw03Fk1rbtrrio1_400.jpg'><br><h2>$55.000</h2>" data-html="true">Anestesias para micropigmentación (38% 50.000 C/u</button> </div>  
      </div>
      <div class="row">

      <div class="col-lg-4 text-center">
            <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title=" " data-content="<img class='img-responsive' src='https://scontent.fbog1-1.fna.fbcdn.net/v/t1.0-9/29570305_1005210022977387_5061589233956986720_n.jpg?_nc_eui2=v1%3AAeGPgnuF_AFKnlIBMWfWArjEkY7jeHoRuQpaajgmTa6ypDxi8UrSRac9CDHcVbIC4Xy7rm0Fa_de3GNngT0aD0QJRYRsPE_WKanjNRgGO6gjuw&oh=92528864c805a727f8cb9ca7f55631d6&oe=5B2D2A26'> 
            
            <img class='img-responsive' src='https://scontent.fbog1-1.fna.fbcdn.net/v/t1.0-9/29542280_1005210062977383_5509211116609398066_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeFo8GW2qYAERjAsWLp0KXavDRdi2bai6uJPrI7RT8JISy8F7efOJGfxo4JZJBRBCwHzX2IXVyvo_H7I_-q7irQlXeAdq7pOL4-rdRtORWdg5g&oh=a877b4f0e3ed1b4ea91d3aa8908245b2&oe=5B31548D'><br><h2>$15.000</h2>" data-html="true">Productos  para extension de pestañas, pinzas, anillos, etc</button> </div>      
      
      <div class="col-lg-4 text-center">
            <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title=" " data-content="<img class='img-responsive' src='https://scontent.fbog1-1.fna.fbcdn.net/v/t1.0-9/29512919_1005210056310717_1708221715264400566_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeF_XzUmCjFjYVMMNQrFA4ByCh-9SgllKAjd4F4WV8qrmWI8xyA31h3Scvd4cr_tWcNLBfi-lqISesCqy9yLtzXBZnTeFT9sjf9IpV767FHpEA&oh=d08fff4b0518e652bb54045e37f4c338&oe=5B4128AD'><br><h2>$15.000</h2>" data-html="true">Productos para micropigmentacion, pigmentos, agujas, etc.</button> </div>       
      
      <div class="col-lg-4 text-center">
            <button type="button" class="name btn btn-outline-purple" id="abtn" role="button" data-toggle="popover" data-trigger="focus" title=" " data-content="<img class='img-responsive' src='https://scontent.fbog1-1.fna.fbcdn.net/v/t1.0-9/29683677_1005215346310188_5227573034111504006_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeEsCVih_69see0XM2IqXNGvZd3N6Fn1IGmFkjx_V-IGX0sLYFsozN0cD2zVZwtg4ir43i5fDT-rmnJOhb-r9rQlqdx_684EZFTqxupn_PIo4g&oh=92b31c0bc1c5ead95ea385b467f86589&oe=5B75DFC0'><img class='img-responsive' src=' https://scontent.fbog1-1.fna.fbcdn.net/v/t1.0-9/29572657_1005215359643520_6554483867702346251_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeFxoW4fjrcjD12w98DWElaawAInqzipF6sHx_H1Eli_yCz-dGy2_Xsc47p6aYavso72x0LkHnOFl8VoPgFp7l7Y8QE5RPDu9XyW8V2l_Oby6g&oh=ac3147e2774b70d1e696c28507073dfe&oe=5B72E971'><br><h2>$350.000</h2>" data-html="true">Extensión de cabello natural 100% garantizado 20.22 (mide 1.90 metros de largo)</button> </div> 
          
            

                   

      </div>

  </div>


            
            
            
            
            

    </div>
                    

                
    

    </div>  
                

    </div>




        </div>
</section>