<section id="contact">

<div class="contact">
    
            
    <div class="col-lg-12 text-center" style="margin-top: 9.9%">
        <p style="font-size: 80px; font-family: 'Archivo Black', sans-serif">Contacto</p>
    <div class="social" style="margin-left: 19.5%">
    <div class="row">
                <div class="col-md-3">
                        <br><br>
            <p style="font-size: 28px"><i class="fab fa-instagram"></i><a style="font-family: 'Archivo Black', sans-serif" href="https://www.instagram.com/esteticamazzos/?hl=en">Instagram</a></p>
                 
                
                    </div>   

        <div class="col-md-3">
            <br><br>
            
    <p style="font-size: 28px; font-family: 'Archivo Black', sans-serif"><i class="fab fa-whatsapp"></i> +57 3122742389</p>
            </div>
                            <div class="col-md-3">
                        <br><br>
            
                            <p style="font-size: 28px; font-family: 'Archivo Black', sans-serif"><i class="fas fa-map-marker-alt"></i> Cll 44 San Juan #73-90</p>
                       
                
    </div>
                
    </div>
    </div>
            

    <div class="col-lg-12 text-center" style="margin-top: 100px; margin-bottom: 150px">
        
        <p style="font-size: 55px; font-family: 'Archivo Black', sans-serif"><i class="far fa-envelope"></i> Erica_7304@hotmail.com</p>


 

            </div>

        </div>
    
    
    </div>
</section>