<div class="contact">
    
            
    <div class="col-lg-12 text-center" style="margin-top: 9.9%">
        <h2 style="font-size: 40px">Contacto</h2>
    <div class="social" style="margin-left: 19.5%">
    <div class="row">
                <div class="col-md-3">
                        <br><br>
            
                    <h4 style="font-size: 35px"><i class="fab fa-whatsapp"></i> +57 3122742389</h4>
                
                    </div>   
                    <div class="col-md-3">
                        <br><br>
            
                        <h4 style="font-size: 35px"><i class="fab fa-instagram"></i> <a href="https://www.instagram.com/">Instagram</a></h4>
                
    </div>
        <div class="col-md-3">
            <br><br>
            
    <h4 style="font-size: 35px"><i class="fab fa-facebook"></i> <a href="https://www.facebook.com/">Facebook</a></h4>
            </div>
                
    </div>
    </div>
            

    <div class="col-lg-12 text-center" style="margin-top: 100px">
        <p style="font-size: 55px">Erica_7304@hotmail.com</p>
                <br>
                <br>
        <h5 id="map">Mapa</h5>
        <br>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d253821.60143680254!2d-75.73647877240792!3d6.268659412394728!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4428ef4e52dddb%3A0x722fd6c39270ac72!2sMedellin%2C+Antioquia!5e0!3m2!1sen!2sco!4v1521047704933" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

    </div>

</div>
    
    
</div>