<footer>
     <div class="container " style="margin-left: 14.5%">
        <div class="row">
            

            
            <div class="col-lg-4">
                <h6>Navegador</h6>
                <ul class="unstyled">
                    <li><a href="#" style="color: white">Inicio</a></li>
                    <li><a href="#about" style="color: white">Conocenos</a></li>
                    <li><a href="https://www.instagram.com" style="color: white">Instagram</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h6>Mapa del sitio</h6>
            <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.1065784386624!2d-75.59519018523072!3d6.249684895476275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e44290a0c571805%3A0x54d7cf14b23b7a5!2sAv.+San+Juan+%2373-90%2C+Medell%C3%ADn%2C+Antioquia!5e0!3m2!1sen!2sco!4v1522168324624" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>            


            <div class="col-lg-4">
                <h6>Copyright &copy; 2018</h6>
                
                
                <h6>Todos los derechos reservados</h6>
                
                
                <a href="https://www.instagram.com/rubypersa/?hl=en" style="color: white">@odrian</a>
            </div>
            
         
            
         </div> 
    </div>
</footer>