<footer>
     <div class="container " style="margin-left: 14.5%">
        <div class="row">
            

            
            <div class="col-lg-3">
                <h6>Nav</h6>
                <ul class="unstyled">
                    <li>Home</li>
                    <li>About</li>
                    <li>Parnerts</li>
                    <li>Social</li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h6>Síguenos</h6>
                <ul class="unstyled">
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>gitHub</li>
                    <li>Steemit</li>
                </ul>
            </div>            
            <div class="col-lg-3">
                <h6>Síguenos</h6>
                <ul class="unstyled">
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>gitHub</li>
                    <li>Steemit</li>
                </ul>
            </div>

            <div class="col-lg-3">
                <h6>Copyright &copy; 2018</h6>
                
                
                <h6>Todos los derechos reservados</h6>
                
                
                <h6>Code by <a href="https://www.instagram.com/neondev95/?hl=en">@odrian</a></h6>
            </div>
            
         
            
         </div> 
    </div>
</footer>